name: Publish

on: registry_package

jobs:
  publish:
    name: Publish to npm
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
          registry-url: 'https://registry.npmjs.org/'

      - name: Edit package.json to remove custom registry config
        run: |
          node -p "const pkg = require('./package.json'); \
          delete pkg.publishConfig.registry; \
          JSON.stringify(pkg, null, 2)" > pkg.json && mv pkg.json package.json

      - name: Publish package to npm registry
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Create package.json for custom versions
        run: |
          node -p "const pkg = require('./package.json'); \
          pkg.dependencies.sqlite3 = pkg.optionalDependencies.sqlite3; \
          delete pkg.optionalDependencies; \
          pkg.version = (parseInt(pkg.version, 10) + 10) + '.0.0-sqlite.' + pkg.version; \
          JSON.stringify(pkg, null, 2)" > pkg-sqlite.json && \
          node -p "const pkg = require('./package.json'); \
          pkg.dependencies['firebase-admin'] = pkg.optionalDependencies['firebase-admin']; \
          delete pkg.optionalDependencies; \
          pkg.version = (parseInt(pkg.version, 10) + 20) + '.0.0-firestore.' + pkg.version; \
          JSON.stringify(pkg, null, 2)" > pkg-firestore.json

      - name: Publish Firestore version
        run: mv pkg-firestore.json package.json && npm publish --tag=firestore
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish SQLite version
        run: mv pkg-sqlite.json package.json && npm publish --tag=sqlite
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
